
.hero{

    background-color: hsl(0, 0%, 98%);
    background-image: url('../../assets/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.hero__img{
    position: relative;
    height: 55vh;
}

.hero__img img{
    width: 100%;
    position: absolute;
    top: -170px;
}
.hero__text{
    text-align: center;
}

.hero__text h1{
    margin: 0;
    padding: 0;
    font-size: 3rem;
}
.hero__text p{
    font-size: 1.5rem;
    margin: 20px auto;
}

