footer{
    padding: 30px;
    background-color: hsl(233, 26%, 24%);
    color: white;
    text-align: center;

}

footer .social_icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.footer__left > ul li {
    margin: 10px;   
}

footer a{
    color: white;
}

footer .btn{
    margin: 20px;
}
footer svg{
    color: white;
}

@media screen and (min-width: 580px) {
    footer .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__left{
        display: flex;
        gap: 100px;
        align-items: center;
    }
}


