footer{
    padding: 30px;
    background-color: hsl(233, 26%, 24%);
    color: white;
    text-align: center;

}

footer .social_icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.footer__left > ul li {
    margin: 10px;   
}

footer a{
    color: white;
}

footer .btn{
    margin: 20px;
}
footer svg{
    color: white;
}

